.products {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin-top: 122px;
}
h3 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
}
.row {
  padding: 0;
  margin: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.col-md-4 {
  width: 33%;
  height: 100%;
  padding: 10px;
  margin: 0;

}
.col-md-4 .card {
  width: 100%;
  height: 300px;
  padding: 2px;
  margin: 5px;
  background: #fff;
}
.col-md-4 .card .card-body {
  width: 100%;
  height: 75%;
  padding: 0;
  margin: 0;
}
.col-md-4 .card .card-body img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.col-md-4 .card .card-footer {
  width: 100%;
  height: 25%;
  padding: 0;
  margin: 0;
  background: #ffa500;
}
.col-md-4 .card .card-footer p {
  width: 100%;
  height: 30px;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  padding: 0;
  margin: 0;
  color: #000;
  text-transform: uppercase;
  background: #ffa500;
}
.col-md-4 .card .card-footer .btn {
  width: 100%;
  height: 35px;
  font-size: 1rem;
  font-weight: 500;
  padding: 5px;
  margin: 0;
  background: #fff;
}
.modal {
  display: block;
  justify-content: center;
  margin-top: 3%;
}
.modal .modal-body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.modal .modal-body .image {
  width: 100%;
  height: 200px;
  padding: 0;
  margin: 0;
}
.modal .modal-body .image img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.modal .modal-body .info {
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 0;
}

@media only screen and (max-width: 992px) {
  .products {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin-top: 80px;
  }

  .modal {
    display: block;
    margin-top: 80px;
    width: 350px;
    height: 500px;
    margin-left: 30px;
  }
}

@media only screen and (max-width: 436px) {
  .products {
    width: 100%;
    height: auto;
    padding: 0;
    margin-top: 90px;
  }
  h3 {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .products .row {
    widows: 100%;
    height: 100%;
    padding: 0;
    margin: 5px;
    display: flex;
    flex-direction: column;
  }

  .row .col-md-4 {
    width: 90%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  .col-md-4 .card {
    width: 100%;
    height: 300px;
    margin: 10px;
    padding: 0;
  }
  .card .card-body {
    width: 100%;
    height: 60%;
    padding: 0;
    margin: 0;
  }
  .card .card-body img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
  .modal {
    display: block;
    justify-content: center;
    margin-top: 25%;
    height: 100%;
  }
  .modal .modal-dialog {
    width: 100%;
    height: 400px;
  }
  .modal .modal-dialog .modal-content {
    width: 100%;
    height: 100%;
  }
  .modal .modal-body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  .modal .modal-body .image {
    width: 100%;
    height: 150px;
    padding: 0;
    margin: 0;
  }
  .modal .modal-body .image img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
  .modal .modal-body .info {
    width: 100%;
    height: 250px;
    padding: 5px;
    margin: 0;
  }
  .modal .modal-body .info h5 {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 2px;
    margin: 0;
  }
  .modal .modal-body .info a {
    visibility: hidden;
  }
}
